---
title: "Hello"
layout: splash

date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_image: "assets/images/jess-bailey-q10VITrVYUM-unsplash.jpg"
  text_color: "#3D4144"
  # cta_label: "Download"
  # cta_url: "https://github.com/mmistakes/minimal-mistakes/"
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "My name is Kate Rosenthal and this is my personal page and technical writing portfolio."
intro: 
  - excerpt: 'I am a recent graduate with a degree in computer science and a technical writing certificate from Boise State University. 
I enjoy creating clean and useful documentation. You can find examples of my work and resume by following the links below.'
feature_row:
  - image_path: "assets/images/folder.png"
    alt: "placeholder image 1"
    title: "Portfolio"
    # excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "#test-link"
    btn_label: "View"
    btn_class: "btn--inverse"
  - image_path: "assets/images/resume.png"
    alt: "placeholder image 2"
    title: "Resume"
    # excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "#test-link"
    btn_label: "View"
    btn_class: "btn"
  - image_path: "assets/images/certificate.png"
    title: "Certificates"
    # excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "#test-link"
    btn_label: "View"
    btn_class: "btn--inverse"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
