---
title: "Hello"
layout: splash

date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_image: "assets/images/jess-bailey-q10VITrVYUM-unsplash.jpg"
  text_color: "#3D4144"
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "My name is Kate Rosenthal and this is my personal page."
intro: 
  - excerpt: 'I am a recent graduate of Boise State University with a degree in computer science and a technical writing certificate. 
I enjoy creating clean and useful documentation with an emphasis on accessibility. You can find examples of my work and resume in the links below.'
feature_row:
  - image_path: "assets/images/folder.png"
    alt: "placeholder image 1"
    # title: "Portfolio"
    # excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "/portfolio/"
    btn_label: "Portfolio"
    btn_class: "btn--inverse btn--x-large"
  - image_path: "assets/images/resume.png"
    alt: "placeholder image 2"
    # title: "Resume"
    # excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "/resume/"
    btn_label: "Resume"
    btn_class: "btn--inverse btn--x-large"
  - image_path: "assets/images/certificate.png"
    # title: "Certificates"
    # excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "/certifications/"
    btn_label: "Certifications"
    btn_class: "btn--inverse btn--x-large"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
