---
title: "Hello"
layout: splash

date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_image: "assets/images/jess-bailey-q10VITrVYUM-unsplash (1).jpg"
  text_color: "#3D4144"
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "My name is Kate and welcome to my technical writing page."
intro: 
  - excerpt: 'I am a recent graduate of Boise State University with a degree in computer science and a certificate in technical writing. 
I enjoy creating clean and helpful documents with an emphasis on accessibility. You can find examples of my work and my resume linked below.'
feature_row:
  - image_path: "assets/images/folder.png"
    alt: "folder with papers"
    # title: "Portfolio"
    # excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "/portfolio/"
    btn_label: "Portfolio"
    btn_class: "btn--inverse btn--x-large"
  - image_path: "assets/images/resume.png"
    alt: "resume"
    # title: "Resume"
    # excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "/resume/"
    btn_label: "Resume"
    btn_class: "btn--inverse btn--x-large"
  - image_path: "assets/images/certificate.png"
    alt: "Certificate"
    # title: "Certifications"
    # excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "/certifications/"
    btn_label: "Certifications"
    btn_class: "btn--inverse btn--x-large"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

